.parent{
    -fx-background-color: #5b76b0;
}
.sidebar{
    -fx-background-color: #2A4B80;
}

.buttons{
    -fx-background-color: transparent;    
}
.buttons:hover{
    -fx-background-color: transparent;
    -fx-border-color: #1FD6D1;
    -fx-border-style: solid;
    -fx-border-width: 0px 0px 0px 3px;
}

.exit{
    -fx-opacity:0.5;
}
.exit:hover{
    -fx-opacity:1;
}


/* Spinners */
.first-spinner{
    -jfx-radius:20;
}
.first-spinner .arc{
    -fx-stroke-width: 5.0;
}
.second-spinner {
    -jfx-radius: 30;
}
.second-spinner .arc {
    -fx-stroke-width: 5.0;
}
.third-spinner {
    -jfx-radius: 40;
}
.third-spinner .arc {
    -fx-stroke-width: 5.0;
}
.fourth-spinner {
    -jfx-radius: 50;
}
.fourth-spinner .arc {
    -fx-stroke-width: 5.0;
}
.fifth-spinner {
    -jfx-radius: 60;
}
.fifth-spinner .arc {
    -fx-stroke-width: 5.0;
}
.sixth-spinner {
    -jfx-radius: 70;
}
.sixth-spinner .arc {
    -fx-stroke-width: 5.0;
}
.seventh-spinner {
    -jfx-radius: 80;
}
.seventh-spinner .arc {
    -fx-stroke-width: 5.0;
}


/* Colores */
.materialDesign-purple:indeterminate .arc {
    -fx-stroke: #ab47bc;
}
.materialDesign-blue .arc {
    -fx-stroke: #2962ff;
}
.materialDesign-cyan .arc {
    -fx-stroke: #00b8d4;
}

.materialDesign-green .arc {
    -fx-stroke: #00c853;
}
.materialDesign-yellow .arc {
    -fx-stroke: #ffd600;
}

.materialDesign-orange .arc {
    -fx-stroke: #ff6d00;
}

.materialDesign-red .arc {
    -fx-stroke: #d50000;
}